__pycache__/
*.py[cod]
*.so
.venv/
.env
.pytest_cache/
.vscode/
.idea/
.DS_Store
*.log
/logs*/
/data/*
!/data/README.md
!/data/.gitignore
/pretrained/*
!/pretrained/README.md
!/pretrained/.gitignore
/results/*
!/results/README.md
!/results/.gitignore
/outputs/
/visualizations/
/random_caption_visualizations/
*.hdf5
*.pt
*.pth
